* {
    margin: 0;
    background-color: beige;
}

.header {
    font-size: 72px;
    font-family: 'Press Start 2P', cursive;
    margin: 32px;
    display: flex;
    justify-content: center;
    margin-left: 500px;
}

.mid {
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 320px;
}

.settings {
    font-size: 48px;
}

button {
    font-size: 32px;
    background-color: #594659;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    border: none;
}

button:hover {
    background-color: black;
    color: white;
  }


.container {
    display: flex;
    width: 960px;
    height: 960px;
    border: 3px red solid;
    justify-content: center;
}

.column {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    border: 1px solid black;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: auto;
    margin-left: 300px;
}

img {
    width: 100px;
    height: 100px;
    margin-left: 32px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}